.course-container {
  align-items: center;
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  gap: 20px;

  > .courses {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 30px;
  }
}

@media (max-width: 1283px) {
  .course-container {
    > .courses {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
@media (max-width: 957px) {
  .course-container {
    > .courses {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
@media (max-width: 630px) {
  .course-container {
    > .courses {
      margin: 0 auto;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}
