.course-summary {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 30px 20px 20px 20px;
  border: 1px solid rgb(227, 224, 224);

  position: relative;
  > .title-summary {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;

    position: absolute;
    top: -15px;
    left: 10px;
    background-color: #fff;
  }
}
