.header {
  height: 60px;
  width: 100%;
  background-color: #fff;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;

  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;

  &-img {
    max-width: 200px;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background: url("https://i.ytimg.com/vi/D_uTgNVxHoc/maxresdefault.jpg")
      no-repeat center / cover;
  }
  &-links {
    display: flex;
    gap: 30px;
  }
  &-profile {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 790px) {
  .header {
    &-img {
      display: none;
    }
    &-links {
      flex: 1;
      display: flex;
      justify-content: center;
    }
  }
}

.header-mobile {
  display: none;
}

@media (max-width: 430px) {
  .header {
    display: none;
  }

  .header-mobile {
    display: block;

    position: fixed;
    left: 0;
    right: 0;
    z-index: 15;

    max-width: 430px;
    > .icon-toggle {
      padding: 15px;

      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-bottom: 1px solid rgb(213, 213, 213);
      background-color: #fff;
    }
    &-links {
      padding: 20px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      background: white;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
}
